<a href="https://colab.research.google.com/github/chinnuzz77/flipkart.com_air-conditioner/blob/main/flipkart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [32]:
import time
import requests
from IPython.display import clear_output 

base_url ='https://www.flipkart.com/air-conditioners/pr?sid=j9e%2Cabm%2Cc54&p%5B%5D=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured&p%5B%5D=facets.capacity%255B%255D%3D1.5%2BTon&param=892743&wid=4.productCard.PMU_V2_4'
req = requests.get(url) 
soup = BeautifulSoup(req.text,'html') 
print(soup.prettify())
b = []
p =[]
r = []
for i in range(1,10):
  time.sleep(3)
  print(f'going to scrape data from {i} page')
  clear_output(wait=True)
  url = base_url+str(i)+'&page='
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')
      #brand 
  brand =  soup.findAll('div',attrs={'class':'_4rR01T'}) 
  for j in brand:
    b.append(j.text)
    #price
  price = soup.findAll('div',attrs={'class' : "_30jeq3 _1_WHN1"}) 
  for j in price:
    p.append(j.text)
      # Ratings 
  ratings =  soup.findAll('div',attrs={'class':"_3LWZlK"})
  for j in ratings:
    r.append(j.text)

going to scrape data from 9 page

In [33]:
print(len(b))
print(len(p))
print(len(r))

216
216
216

In [34]:
data = pd.DataFrame({'brand': b,
                     'price': p,
                     'ratings': r})
data

                                                 brand    price ratings
0    SAMSUNG 1.5 Ton 3 Star Split Inverter AC  - Wh...  ₹28,990     4.2
1    SAMSUNG 1.5 Ton 3 Star Split Inverter AC  - Wh...  ₹28,990     4.2
2    LG Convertible 5-in-1 Cooling 1.5 Ton 3 Star S...  ₹33,990     4.3
3    Whirlpool 1.5 Ton 3 Star Split Inverter AC  - ...  ₹31,490     4.2
4    SAMSUNG 1.5 Ton 5 Star Split Inverter AC  - White  ₹34,990     4.2
..                                                 ...      ...     ...
211             Haier 1.5 Ton 3 Star Split AC  - White  ₹29,890     4.4
212       Midea 1.5 Ton 3 Star Split AC  - White, Grey  ₹26,990     4.3
213  Panasonic 1.5 Ton 3 Star Split Inverter Smart ...  ₹34,990     4.3
214           CARRIER 1.5 Ton 3 Star Split AC  - White  ₹33,000     4.3
215  LG Convertible 5-in-1 Cooling 1.5 Ton 5 Star S...  ₹41,490     4.3

[216 rows x 3 columns]

In [ ]:
data.to_csv('flipkart-web-scrapped.csv',index=False)